.navbar-custom {
    background-color: #FFE066;
    padding-top: 5px;
    padding-bottom: 18x;
    border-bottom: 2px solid #f7d774;

}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
}
.footer {
background-color: #FFE066;
  padding: 12px 0;
  color: #5c4a2d;
}

.footer .merk {
  font-size: 22px;
  margin-bottom: 6px;
}

.footer h6 {
  font-weight: bold;
  margin-bottom: 8px;
}

.footer ul li {
  margin-bottom: 4px;
  font-size: 13px;
}

.footer ul li:hover {
  color: #d9c742;
}

.footer hr {
  margin: 12px 0;
  border-color: #bad522;
}
.btn {
    padding: 10px 28px;
    font-size: 15px;
}
.text-judul {
 font-size: 22px;
  font-weight: 700;
  color:#267745; 
}
